/* RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 16px;
  font-family: Muli;
  text-decoration: none;
  list-style: none;
  color: black;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

html,
body {
	margin:0;
	padding:0;
	height:100%;
  background-color: hsla(342, 55%, 97%, 1);
  box-sizing: border-box;
  line-height: 1.4;
  overflow: auto;
}


/* HEADER */

header {
  position: fixed;
  width: 100%;
  margin: auto;
  z-index: 100;
  background-position: fixed; 
  background-color: hsla(342, 55%, 97%, 1);
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
}

header h1 {
  font-family: Sacramento, Arial, sans-serif;
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  padding-top: 1rem;
}

header ul {
  display: flex;
  justify-content: space-around;
  padding-top: .75rem;
  padding-bottom: .75rem;
}
header a {
  font-size: 1.1rem;  
}
header li:hover {
  font-weight: bold;
}

/* TRADES */

div.containers {
  padding-top: 4rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  top: 175px;
}

.trade {
  align-content: center;
  background-color: hsla(342, 55%, 87%, 1);
  height: 17.5rem;
  width: 15.5rem;
  transition: background-color 250ms ease-out, 
    color 150ms ease-out 250ms, 
    box-shadow 150ms ease-in;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);
}

.trade:hover {
  background-color: hsla(338, 95%, 36%, 1);
  box-shadow: 4px 4px 7px 0px rgba(0,0,0,0.75);
}

.trade:hover a {
  color: hsla(342, 55%, 99%, 1); 
}

.role {
  position: relative;
  top: 1.9rem;
}

.image {
  height: 13rem;
  width: 13.75rem;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 1rem;
  border-radius: 2px;
  object-fit: cover;
}

/* ABOUT ME */

.about {
  position: relative;
  top: 250px;

}

.about p {
  line-height: 1.6rem;
  width: 70%;
  padding-left: 10rem;
  text-align: justify;
}

.about h4 {
  font-family: sacramento, arial, sans-serif;
  font-size: 2rem;
  padding-left: 7rem;
  font-style: italic;
}

/* FOOTER */

.footer {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto;
}

footer i{
  position: relative;
  top: 300px;
  padding: 25px 50px;
}























